header {
  .headerText {
    margin: 0 auto;
    padding: 13px 50px;
    width: 70%;
    border: solid 2px #1E2C3D;
    border-bottom: none;

    h1 {
      color: $title;
    }

    p {
      margin-bottom: 70px;
      line-height: 1.5em;
      font-size: 1.2em;
    }
  }

  .imgWrapper {
    position: relative;

    .imgContainer {
      width: 180px;
      position: absolute;
      top: -95px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width:  250px;
        background-repeat: no-repeat;
      }
    }
  }
}