header {
  div {
    margin: 0 auto;
    padding: 13px 50px;
    width: 70%;
    border: solid 2px #1E2C3D;
    border-bottom: none;

    h1 {
      color: $title;
    }

    p {
      line-height: 1.5em;
      font-size: 1.2em;
    }
  }
}